<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit menu</title>
  </head>
  <body>
    <h1>Edit Menu</h1>

    <form method="post">
      <p>
        <label for="name">Name</label> <br />
        <input type="text" name="name" id="name" value="<%= food.name %>" />
      </p>

      <p>
        <label for="price">Price</label> <br />
        <input
          type="number"
          name="price"
          id="price"
          value="<%= food.price %>"
        />
      </p>

      <p>
        <label for="stock">Stock</label> <br />
        <input
          type="number"
          name="stock"
          id="stock"
          value="<%= food.stock %>"
        />
      </p>

      <p>
        <label for="stock">Category</label> <br />
        <input type="radio" name="category" value="Makanan" id="makanan" <%=
        food.category == 'Makanan' ? 'checked' : '' %> />
        <label for="makanan">Makanan</label>

        <input type="radio" name="category" value="Minuman" id="minuman" <%=
        food.category == 'Minuman' ? 'checked' : '' %> />
        <label for="minuman">Minuman</label>
      </p>

      <p>
        <label for="expiredDate">Expired Date</label> <br />
        <input
          type="date"
          name="expiredDate"
          id="expiredDate"
          value="2024-05-30"
        />
      </p>

      <p>
        <button type="submit">Update</button>
      </p>
    </form>
  </body>
</html>
